@font-face {
    font-family: 'Geomanist';
    src: url('../fonts/Geomanist-Regular.otf');
}

@font-face {
    font-family: 'Helvetica Light';
    src: url('../fonts/Helvetica-Light.ttf');
}

body {
    font-family: 'Geomanist', 'Helvetica Light', sans-serif;
    color: #404040;
}

@media all and (min-width: 300px) {
  h1 {
    font-size: 45px;
    color: #404040;
  }

  h2 {
    font-size: 35px;
    color: #404040;
  }

  h3 {
    font-size: 25px !important;
    color: #404040;
  }
}
@media all and (min-width: 800px) {
  h1 {
    font-size: 60px;
    color: #404040;
  }

  h2 {
    font-size: 45px;
    color: #404040;
  }

  h3 {
    font-size: 35px !important;
    color: #404040;
  }
}

a {
  color: #404040;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.navbar {
  background-image: -webkit-gradient(linear,left top,left bottom,from(white),to(white));
  border-color: white;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
  text-shadow: none !important;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a{
  color: #545454;
  text-decoration: none;
  position: relative;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav>li>a:hover {
  font-weight: 700;
  color: black;
  text-decoration: none;
  position: relative;
}

a.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-brand:focus,
,
.navbar-inverse .navbar-nav>li>a:hover:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    padding-bottom: 22px;
    border-width: 0 0 1px;
    border-style: solid;
}

.navbar-inverse .navbar-toggle {
  background-color: #545454;
  border-color: #545454;
}

.navbar-inverse .navbar-toggle:hover {
  border-color: #9d9d9d;
  background-color: #9d9d9d;
}
