/*
Use `border-box` properly:
https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

/* External CSS */
@import "https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css";
@import "https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css";
@import "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css";


/* Global CSS */
@import "annees-lumiere.css";
